.content {
  height: 100%;
  width: 100%;
}

.border {
  padding: 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e8e8e8;
}

.filter-configuration {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-configuration-criteria {
  display: flex;
  gap: 5px;
  align-items: center;
}

.flexbox-item > * {
  /* border-width: 0px; */
}

.interface {
  font-family: Arial, Helvetica, sans-serif;
}
