body {
  padding: 5px;
}

div.content {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
}

.button-bar_mobile {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px auto;
}

.button-bar_mobile > .buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;

  /* z-index: -1; */
}

.wide {
  display: none;
}

ui-sidemenu div {
  margin-bottom: 10px;
}

div.entries > div {
  height: 150px;
}

div.button-bar_wide {
  display: none;
  gap: 5px;
}

div.button > input {
  width: 100%;
  margin: auto;
}

div.container-add {
  grid-area: add;
}

div.container-clear {
  grid-area: clear;
}

div.container-export {
  grid-area: export;
}

div.container-summary {
  grid-area: summary;
}

div.container-auth {
  grid-area: auth;
}

div.container-github {
  background-color: lightslategray;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

div.modal-clear-body {
  height: 100%;
  text-align: center;
}

a.button-github {
  margin: auto;
  color: white;
  text-decoration: none;
}

.container-list {
  display: grid;
  grid-auto-columns: 100%;
  grid-row-gap: 5px;
}

.modal-summary > div[slot='header'] {
  color: hsl(0, 0%, 60%);
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10pt;
}

.modal-summary > div[slot='body'] {
  display: grid;
  gap: 5px;
  grid-template-columns: 30% auto;
}

.modal-summary > div[slot='body'] > .summary-comment {
  resize: none;
  height: 100pt;
  font-family: inherit;
}

.code {
  font-family: monospace;
  color: rgb(41, 41, 41);
  background-color: rgb(209, 209, 209);
}

@media (min-width: 450px) {
  .button-bar_mobile {
    display: none;
  }

  .wide {
    display: block;
  }

  div.button-bar_wide {
    display: grid;
    grid-template-areas:
      'clear'
      'export'
      'summary'
      'add';
  }
}

@media (min-width: 600px) {
  div.button-bar_wide {
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: 'clear export add summary auth';
  }
}
