body {
  padding: 5px;
}

.border-thin_bottom {
  border-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flexbox-container {
  display: flex;
}

/* --- Filters --- */

.filter-panel > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.filter-actions {
  flex-direction: row;
  flex-grow: 0;
  gap: 5px;
}

.filter-configuration {
  justify-content: space-between;
  flex-grow: 1;
  gap: 5px;
}

div.content {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
}

.button-bar_mobile {
  display: grid;
  gap: 10px;
  grid-template-columns: 30px auto;
}

.button-bar_mobile > .buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;

  /* z-index: -1; */
}

.wide {
  display: none;
}

ui-sidemenu div {
  margin-bottom: 10px;
}

div.entries > div {
  height: 150px;
}

div.button-bar_wide {
  display: none;
  gap: 5px;
}

div.button > input {
  width: 100%;
  margin: auto;
}

div.container-github {
  background-color: lightslategray;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
}

div.modal-clear-body {
  height: 100%;
  text-align: center;
}

a.button-github {
  margin: auto;
  color: white;
  text-decoration: none;
}

.container-list {
  display: grid;
  grid-auto-columns: 100%;
  grid-row-gap: 5px;
}

.modal-summary > div[slot='header'] {
  color: hsl(0, 0%, 60%);
  font-weight: bold;
  font-size: larger;
  margin-bottom: 10pt;
}

.modal-summary > div[slot='body'] {
  display: grid;
  gap: 5px;
  grid-template-columns: 30% auto;
}

.modal-summary > div[slot='body'] > .summary-comment {
  resize: none;
  height: 100pt;
  font-family: inherit;
}

.margin_auto {
  margin: auto;
  width: fit-content;
}

@media (min-width: 500px) {
  div.button-bar_wide {
    display: grid;
  }

  .button-bar_mobile {
    display: none;
  }

  .filter-actions {
    flex-direction: column;
  }

  .filter-panel > div {
    flex-direction: row;
  }

  .wide {
    display: block;
  }
  div.button-bar_wide {
    grid-template-columns: auto auto auto auto;
  }
}
