/*
Layout rules
*/

.font_sans * {
  font-family: Helvetica, Arial, sans-serif;
}

.border_no {
  border-width: 0px;
  border-style: solid;
}

textarea.comment {
  resize: none;
}

div.layout {
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas:
    'startDate startTime'
    'endDate endTime'
    'comment comment'
    'btnEdit break'
    'btnDelete diff';
}

div.area-startdate {
  grid-area: startDate;
}

div.area-starttime {
  grid-area: startTime;
}

div.area-enddate {
  grid-area: endDate;
}

div.area-endtime {
  grid-area: endTime;
}

div.area-diff {
  grid-area: diff;
}

div.area-break {
  grid-area: break;
}

div.area-comment {
  grid-area: comment;
}

div.area-buttons-edit {
  grid-area: btnEdit;
}

div.area-buttons-delete {
  grid-area: btnDelete;
}

div.container-button {
  padding: 3px;
}

div.content {
  height: 100%;

  border-width: thin;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
}

div.container {
  padding: 3px;
  min-height: 15px;
  border-width: thin;
  border-color: rgb(250, 250, 250);
  border-style: solid;
}

div.container > * {
  padding: 0;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}

div.container > input {
  width: 100%;
}

div.container-comment {
  overflow-x: scroll;
}

div.container-button-bar > input {
  display: block;
}

.modal-edit > div {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-edit > div > .modal-input {
  color: hsl(0, 0%, 30%);
  resize: none;
}

.modal-edit > div > label {
  color: hsl(0, 0%, 60%);
}

.ui-modal-confirmable > div {
  text-align: center;
}

@media (min-width: 500px) {
  .modal-edit > div[slot='body'] {
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 786px) {
  div.layout {
    grid-auto-columns: 33.33%;
    grid-template-areas:
      'startDate startTime comment'
      'endDate endTime comment'
      'btnEdit break comment'
      'btnDelete diff comment';
  }
}
